html{
  --primary-color:#BDDDFC;
  --secondary-color:#6A89A7;
  --primary-font-color:#041121;
  --buttons-color:#0B2647;
  --lightbulb-color:#0B2647;
}

[data-theme="dark"]{
  --primary-color:#041121;
  --secondary-color:#6A89A7;
  --primary-font-color:#f4f4f4;
  --lightbulb-color: #ffd93d;
}

body{
  background-color:var(--primary-color);
}

header{
  display:flex;
  justify-content:center;
  padding:20px 0;
}

main{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:13em;
}

h1{
  font-size:clamp(25px, 5vw, 40px);
  font-family: 'Courier New', Courier, monospace;
  color: var(--primary-font-color);
}

.cirkel{
  width:clamp(150px, 30vw, 200px);
  height:clamp(150px, 30vw, 200px);
  border:1.5em solid var(--secondary-color);
  border-radius:50%;
  background-color:var(--primary-color);
}

ul{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:16px;
  list-style:none;
  padding:0;
  margin:0;
}

button{
  cursor:pointer;
  width:clamp(75px, 12vw, 125px);
  height:clamp(75px, 12vw, 125px);
  background-color: var(--buttons-color);
  background-repeat: no-repeat;
  background-position: center;
  /* dit voorkomt stretchen */
  background-size: contain; 
  border: 3px solid var(--secondary-color);
}

/* Reduce Motion */
ul li:nth-child(1) button{
  border-radius:100%;
  background-image:url("./images/reducemotionsvg.svg");
}

/* Ik */
ul li:nth-child(2) button{
  border-radius:20px;
  background-image:url(./images/karaktersvg.svg);
}

/* Goals*/
ul li:nth-child(3) button{
  width:clamp(75px, 12vw, 125px);
  height:clamp(125px, 15vw, 200px);
  border-radius:20px;
  background-image:url(./images/doelensvg.svg);
}

/* Light/Dark */
ul li:nth-child(4) button{
  background-color: var(--lightbulb-color);
  border-radius:50%;
  width:clamp(75px, 12vw, 125px);
  height:clamp(95px, 15vw, 150px);
  background-image:url(./images/gloeilampsvg2.svg);
}








