:root{
  --primary-color: #FAFAF9;
  --secondary-color: black;
  --font-color: black;
}

[data-theme="dark"] {
  --primary-color: #565353;
  --secondary-color: #b8b8b8;
  --font-color: #fff;

}

body{
  background-color: var(--primary-color);
}

header{
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13em; 
}

.cirkel{
  width: 30vw;
  height: 30vw;
  max-width: 200px;
  max-height: 200px;
  min-width: 150px;
  min-height: 150px;
  border: 1.5em solid #333;
  border-radius: 100%;
  background-color: var(--primary-color);
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style:none;
  padding: 0;
  margin: 0;
}

button{
  cursor: pointer;
  width: 12vw;
  height: 12vw;
  max-width: 125px;
  max-height: 125px;
  min-width: 75px;
  min-height: 75px;
}

ul li:nth-child(1) button{
  background-color: #622de6;
  color: white;
  border-radius: 100%;
}

ul li:nth-child(2) button{
  background-color: #ff6f91;
  color: white;
}

ul li:nth-child(3) button{
  background-color: #6bcf63;
  color: white;
  width: 12vw;
  height: 15vw;
  max-width: 125px;
  max-height: 200px;
  min-width: 75px;
  min-height: 125px;
}

ul li:nth-child(4) button{
  background-color: #ffd93d;
  color: #222;
  border-radius: 100%;  
  height: 15vw;
  max-width: 125px;
  max-height: 150px;
  min-width: 75px;
  min-height: 95px;
}







